[submodule "public"]
	path = public
	url = https://github.com/zenja/zenja.github.io.git
    branch = master
[submodule "themes/steam"]
	path = themes/steam
	url = https://github.com/digitalcraftsman/hugo-steam-theme.git
